name: SimpleDemo

on: 
  push: 
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu_latest
    steps: 
      - uses: actions/checkout@v5
      - run: echo "Running test"
  deploy:                            
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying app"
