name: SimpleDemo

on: 
  push: 
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v5
      - name: Test1 Run Test
        run: echo "Running test"
      - name: Test2 Test code
        run: echo "Testing code"
  deploy:                            
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy App
        run: echo "Deploying app"
      - name: Monitor App
        run: echo "Monitoring the app"
